.site-header-wrapper{
	padding: 1rem 0;
	.col-6{
		display: flex;
	}
	.site-logo{
		text-align: center;
		margin-bottom: 1rem;
		@media (min-width: 768px) {
			text-align: left;
			margin-bottom: 0;
		}
	}
	.right-nav{
		@media (min-width: 576px) {
			display: flex;
			align-items: center;
			float: right;
		}
		.phone-number{
			text-align: center;
			@media (min-width: 576px) {
				text-align: right;
			}
		}
	}
	ul{
		list-style: none;
		display: flex;
		text-transform: uppercase;
		font-weight: 600;
		color: $blue-300;
		margin-bottom: 0;
		padding: 0.5rem 0;
		justify-content: center;
		@media (min-width: 576px) {
			margin-right: 30px;
		}
		li{
			padding: 0 0.5rem;
			a{
				position: relative;
				&:after{
					position: absolute;
					content: '';
					height: 5px;
					width: 0;
					bottom: -10px;
					left: 0;
					transition: all 0.5s;
					visibility: hidden;
					background: $green;
				}
				&:hover{
					text-decoration: none;
					&:after{
						width: 100%;
						visibility: visible;
					}
				}
			}
		}
	}
	.btn-wrap{
		.btn{
			font-size: 20px;
			font-weight: bold;
			letter-spacing: 0.6px;
		}
	}
}
h2{
	font-family: 'Raleway', sans-serif;
	color: $blue-300;
;
}